In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('dataset.csv', sep = '\t')
df['Dataset'] = df['Dataset'].str.replace('$', '')
df['Dataset'] = df['Dataset'].str.replace(',', '')
df['Dataset'] = df['Dataset'].astype(float)
df

    Dataset
0   78000.0
1   90000.0
2   75000.0
3  117000.0
4  105000.0
5   96000.0
6   89500.0
7  102300.0
8   80000.0

In [22]:
salary_sample = df['Dataset'].values

In [23]:
salary_sample_mean = round(np.sum(salary)/len(salary),2)

In [24]:
salary_sample_variance = round((np.sum((salary_sample-salary_sample_mean)**2/len(salary_sample)-1)),2)

In [34]:
salary_sample_std = round( (pow((salary_sample_variance), 1/2)), 2)

In [36]:
salary_sample_standard_error = salary_sample_std/(pow((len(salary_sample)),1/2))

###t-statistics formula salary_sample_mean +- (t(n-1),alpha/2)*sample_standard_error

In [45]:
print('salary sample mean = ', salary_sample_mean)
print('salary sample variance = ', salary_sample_variance)
print('salary sample standard deviation = ', salary_sample_std)
print('salary sample standard error = ', salary_sample_standard_error)

salary sample mean =  92533.33
salary sample variance =  172531102.11
salary sample standard deviation =  13135.11
salary sample standard error =  4378.37

###alpha/2 for 99% confidence level is 0.01/2 = 0.005
###t for 9 samples = t8(9-1),0.005 which corresponds to value 3.355 by t-table

In [42]:
confidence_interval_low = round((salary_sample_mean - 3.355 * salary_sample_standard_error),2)

In [44]:
confidence_interval_up = round((salary_sample_mean+3.355*salary_sample_standard_error),2)

In [49]:
print(f'confidence interval for 99% is [{confidence_interval_low}, {confidence_interval_up}], {confidence_interval_up-confidence_interval_low}$ width')

confidence interval for 99% is [77843.9, 107222.76], 29378.86$ width