In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Annual_income.csv')
df

    Annual income
0         62000.0
1         64000.0
2         49000.0
3        324000.0
4       1264000.0
5         54330.0
6         64000.0
7         51000.0
8         55000.0
9         48000.0
10        53000.0

In [9]:
mean = round(np.sum(df['Annual income']/len(df['Annual income'])), 3)
mean

189848.182

In [11]:
sorted_arr = np.sort(df['Annual income'])
n = len(sorted_arr)

In [27]:
if n % 2 == 0:
    median = (sorted_arr[n/2-1] + sorted_arr[n/2])/2
else:
    median = sorted_arr[int(n/2)]
median

55000.0

In [39]:
max_count = 0
for i in range(len(df['Annual income'])):
    count = 0
    for j in range(len(df['Annual income'])):
        if df['Annual income'][j] == df['Annual income'][i]:
            count += 1
    if count >= max_count:
        max_count = count
        mode = df['Annual income'][i]
mode

64000.0