In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Annual_income.csv')
df

    Annual income  Annual income Denmark
0         62000.0              462852.37
1         64000.0              470317.73
2         49000.0              567367.42
3        324000.0              589763.50
4       1264000.0              500179.17
5         54330.0              492713.81
6         64000.0              515109.89
7         51000.0              507644.53
8         55000.0              425525.56
9         48000.0              522575.25
10        53000.0              500179.17

In [3]:
df['Annual income Denmark'] = [462852.37,
                               470317.73,
                               567367.42,
                               589763.50,
                               500179.17,
                               492713.81,
                               515109.89,
                               507644.53,
                               425525.56,
                               522575.25,
                               500179.17]
df

    Annual income  Annual income Denmark
0         62000.0              462852.37
1         64000.0              470317.73
2         49000.0              567367.42
3        324000.0              589763.50
4       1264000.0              500179.17
5         54330.0              492713.81
6         64000.0              515109.89
7         51000.0              507644.53
8         55000.0              425525.56
9         48000.0              522575.25
10        53000.0              500179.17

In [4]:
df.to_csv('Annual_income.csv', index=False)

In [5]:
usa = df['Annual income']
den = df['Annual income Denmark']

In [6]:
def mean(ds):
    mean = sum(ds)/len(ds)
    return round(mean, 2)

In [7]:
def variance(ds):
    variance_sum = sum(pow((x-mean(ds)), 2) for x in ds)
    variance = variance_sum/(len(ds)-1)
    return round(variance, 2)

In [10]:
def std(ds):
    std = pow(variance(ds), 1/2)
    return round(std, 2)

In [12]:
def coef_of_variation(ds):
    coef = std(ds)/mean(ds)
    return round(coef, 2)

In [13]:
print('USA mean = ', mean(usa))
print('USA variance = ', variance(usa))
print('USA std = ', std(usa))
print('USA coefficient of variation = ', coef_of_variation(usa))

print('Denmark mean = ', mean(den))
print('Denmark variance = ', variance(den))
print('Denmark std = ', std(den))
print('Denmark coefficient of variation = ', coef_of_variation(den))

USA mean =  189848.18
USA variance =  133433409536.36
USA std =  365285.38
USA coefficient of variation =  1.92
Denmark mean =  504929.85
Denmark variance =  2098548516.15
Denmark std =  45809.92
Denmark coefficient of variation =  0.09