In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('Annual_income.csv')
an_income = df['Annual income']
df

    Annual income
0         62000.0
1         64000.0
2         49000.0
3        324000.0
4       1264000.0
5         54330.0
6         64000.0
7         51000.0
8         55000.0
9         48000.0
10        53000.0

In [12]:
sum = 0
for num in an_income:
    sum += num
mean = round(sum/len(an_income), 2)
mean

189848.18

In [14]:
total = 0
for num in an_income:
    total += pow((num-mean), 2)
    print(total)
variance = pow(total/(len(an_income)-1),1/2)
variance

16345157129.312399
32182921538.624798
52021131347.937195
70017842157.2496
1223819974566.562
1242185151677.0745
1258022916086.387
1277301733175.6995
1295485764825.012
1315606670994.3245
1334334095363.637

365285.3809507899